
@media screen and (max-width: 1178px) {
	.right-container{float: none;}
	.left-menu{
		transform:translate(-100%,0);
		-moz-transform:translate(-100%,0);
		-webkit-transform:translate(-100%,0);
		-o-transform:translate(-100%,0);
	}
	.menu-language,.languages{
		display: none;
	}
	#ui-header{
		display: block;
	}
	.whole{
		padding-left: 0;

	}
	.intro{
		background-size: 1178px 100vh;
	}
	.intro div p{
		font-size: 30px;
	}

}
@media screen and (max-width: 1178px) and (min-width: 600px){
	.about .about-article{
		float: none;
		margin: 0 auto;
	}
	.plant-list .plant-left{
		display: block;
		width: 100%;
		height: 30rem;
	}
	.plant-list .plant-left img{
		height: 100%;
	}
	.plant-center{
	 	display: block;
		width: 80%;
		margin: 0 auto;
	 }
	.s_center .s_h2{font-size: 2.5rem;}
	.plant-right-small{
	 	display: block;
	 }
	.plant-right,.right-fixed{
		display: none;
	}
}
@media screen and (max-width: 600px){
	.intro{
		background-size: 768px 100vh;
	}
	.intro div p{
		font-size: 20px;
	}
	.about{height: 100vh;}
	.about-article{
		float: none;
		width: 90%;
		margin: 10px;
		right: 0;
	}


	.displayPanel{
		display: block;
		width: 100%;
		height: auto;
	}
	.displayPanel .s_div {
		display: block;
	}
	.s_img img{
		display: block;
		width: 100%;
		height:25rem; 
	}
	.s_center{
	 	display: block;
		width: 100%;
		padding: 0px 1rem;
	 }
	.s_center .s_h2{font-size: 2rem;}
	.s_center .s_p{display: none;}

	.plant-right-small{
	 	display: block;
	 }
	.plant-right,.right-fixed{
		display: none;
	}

	.Aquarium-lamp{
		padding: 50px 10px;
	}
	.aquarium-photo li,.plantPhoto li{
		width: 50%;
		float: left;
		padding: 0 0.625rem 1.25rem;
		display: block;
	}
	.aquarium-photo #nav,.plantPhoto #plantnav{
		max-width: 18.75rem;
		margin: 1.875rem auto 0px;
	}
	.aquarium-contain li a img,.plantContain li a img{
		width: 80%;
	}
	.aquarium-intro-contain,.plant-intro-contain{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 100%;
		background-color: #FFF;
		z-index: 100;
		padding-top: 0.9375rem;
		padding: 2.25rem 0.9375rem 0px;
		display: none;
	}
	.aquarium-intro .control,.plantIntro .control{
		display: block!important;
		font-size: 2rem;
	}
	.aquarium-intro .control a,.plantIntro .control a{
		margin-right: 10px;
	}
	.aquarium-intro .control #closed,.plantIntro .control #closed1{
		float: right;
	}


	#message-board, #our-address{
		width: 100%;
		float: none;
		padding: 0px 1rem;
	}
	.sub-content h1{
		float: left;
	}
	#our-address{
		height: auto;
		margin-bottom: 6rem;
	}
	.address-box-container {
		width: 100%;
	}

	
	.list-info li{
		display: block;
		padding: 2rem;
	}
}
